<div class="alert alert-success text-center">Tutoriel angular</div>
<br>
<app-header></app-header>
<!-- <app-observable></app-observable> -->
<!-- <span>Pour la simulation de route. Exécuter des routes depuis le back typeScript</span> -->
<!-- <app-router-simulate></app-router-simulate> -->
<!-- <app-http></app-http> -->
<br>

<!--
  VIDÉO 1, 2, 3, 4, 5
  <p>Bonjour {{ title }}</p>

<app-child-a></app-child-a>
<app-child-b></app-child-b> -->

<!-- <div class="row alert alert-success">
  Bonjour bootstrap <i class="fa fa-smile-o" ></i>
</div>

<div class="row" [style.background-color]="bgColor" [hidden]="show">
  Liaison de propriétés {{ bgColor }}  Le concept {{ }} une interpolation
</div>

<button class="btn btn-danger" (click)="showned()" >
  Montrer/Cacher
</button>

<br>
<br>-->

<!-- <app-color></app-color> -->

<!-- <app-cv></app-cv> -->
<app-search></app-search>
<router-outlet></router-outlet>

<!--
<span>Test - directive</span> -->
<!--
<app-style [color]="'yellow'" [bgColor]="'red'"></app-style> -->

<!-- <app-class></app-class> -->


